html, body, #root, .App {
  height: 100%
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  align-self: flex-end;
  align-self: flex-end;
  padding: 13px 40px;
}

/*  D3 Chart  */

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  height: 500px;
  width: 960px;
}

.tick line {
  stroke: #eeeeee;
  stroke-width: 1.5;
}

.tick text {
  font-size: 19px;
  transform: translateY(20px);
  fill: #908e8e;
}

.line {
    fill: none;
    stroke-width: 3;
}

.deep_red {
  stroke: #d83e3f;
}

.uv {
  stroke: #c953d9;
}

.violet {
  stroke: #8b4edb;
}

.cool_white {
  stroke: #54b8c6;
}

.green {
  stroke: #66c167;
}

.blue {
  stroke: #186cc5;
}

.royal {
  stroke: #243ac6;
}

.tick text {
  font-size: 19px;
}

.dot {
  fill: steelblue;
}

/*  Drop Zone  */

.dropzone {
  font-size: 2rem;
  padding: 50px;
  border: 5px #b3b3b3 dashed;
  border-radius: 18px;
}
